.form {
  padding: 30px 40px;
  border-radius: 10px;
  width: clamp(180px, 280px, 280px);
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0 auto;
  background-color: var(--bg-2);
}

body {
  background-image: url("/imgs/auth-mobile-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

@media (orientation: landscape) {
  body {
    background-image: url("/imgs/auth-desktop-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
  }
}

h1 {
  font-weight: bold;
  color: var(--forecolor);
  font-size: 1.4rem;
}

.logo{
  width: 80px;
}

.input {
  padding: 8px;
  min-height: 20px;
  border-radius: 60px;
  background-color: var(--bg-1);
  display: flex;
  justify-content: space-between;
}

.input input{
  border: none;
  outline: none;
  width: 100%;
}

button.primary {
  background-color: var(--primary);
  color: #FFF;
  min-height: 20px;
  font-size: 1rem;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 60px;
  font-weight: 200;
}

button.secondary {
  color: var(--primary);
  min-height: 20px;
  font-size: 1rem;
  border: 1px solid var(--primary);
  padding: 10px;
  width: 100%;
  border-radius: 60px;
  font-weight: 200;
}

button:hover{
  cursor: pointer;
}

.toggle-pwd-visibility {
  border: none;
  max-width: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.toggle-pwd-visibility img{ 
  width: 100%;
}

.form .social-media .options {
  display: flex;
}

.form .social-media span {
  margin-top: 20px;
  color: var(--forecolor);
}

.form .social-media .option {
  --radius: 46px;
  width: var(--radius);
  height: var(--radius);
  border-radius: var(--radius);
  background-color: var(--bg-2);
  margin-right: 20px;
  margin-top: 20px;
  transition: 0.25s;
}

.form .social-media .option:hover{
  cursor: pointer;
  background-color: var(--bg-1);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover{
  cursor: pointer;
}

.back-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-1);
}