
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}

body {
  width: 100%;
  background: #101115;
  border-radius: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 40px;
  width: 350px;
  height: 500px;

  border: 1px solid #ffffff;
}
.cardsRetangular {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: #101115;
  border: 1px solid #ffffff;
  animation: rotate 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal
    both;
}
.cardsRetangular footer {
  display: flex;
  background-color: #101115;
  justify-content: space-between;
  margin-top: 80px;
}
.info {
  display: flex;
  flex-direction: row;
}
.cardsRetangular p {
  margin: 15px;
  text-align: center;
}
.content ul {
  list-style-type: circle;
}
.content li {
  margin: 15px;

  color: #fff;
}
.content button {
  border-radius: 20px;
  margin-left: 50px;
  color: #f2f2f2;
  background-color: #2332c5;
  width: 200px;
  height: 20px;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: url("/imgs/me.jpeg");
  background-size: cover;
  cursor: pointer;
}
p {
  color: #f2f2f2;
  margin-left: 10px;
}
.more {
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}
.moreR {
  display: flex;
  margin-left: auto;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}
.comunicação {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.content footer {
  display: flex;
  margin-top: 100px;
  background-color: #101115;
  justify-content: space-between;
  width: 310px;
  height: 20px;
}
.content button {
  margin-top: 30px;
  width: 200px;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #15171f;
}
header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
header li {
  display: inline;
  justify-content: space-between;
  width: 60px;
}
header li img {
  height: 40px;
}
img:hover {
  cursor: pointer;
}

footer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.change {
  box-sizing: border-box;
  display: flex;
  width: 324px;
  height: 40px;
  padding: 0 20px;
  background: linear-gradient(180deg, #262a35 0%, #101115 6.91%);
  border: 1px solid #1c2574;
  border-radius: 40px;
}

.change ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.change li {
  text-align: center;
  display: flex;
  align-items: center;
}

.change li img {
  display: flex;
  height: 80%;
  align-items: center;
}
.popup-notificacao {
  position: absolute;
  display: none;
  bottom: 755px;
  right: 670px;
  background-color: #000;
  text-align: center;
  border-radius: 20px;
}
.popup-notificacao p {
  color: white;
  border-radius: 20px;
  border-bottom: 1px solid white;
}
.popup-notificacao img {
  position: relative;
  right: 250px;
}
@media (max-width: 800px) {
  footer {
    display: flex;
  }
  header {
    display: none;
  }
}

.flipar {
  animation: rotate 1s 0s 1 normal both;
}


.alterar {
  display: inline;
  animation: scale-up 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both;
}
