* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #101115;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  background-color: #adadad;
}
.header {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;

  margin-top: 20px;
  width: 310px;
  height: 355px;
  border-radius: 20px;
  background-color: #101115;
}
.content p {
  margin: 15px;
}
.content button {
  border-radius: 20px;
  margin-left: 50px;
  color: #f2f2f2;
  background-color: #2332c5;
  width: 200px;
  height: 20px;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: url("/imgs/me.jpeg");
  background-size: cover;
  cursor: pointer;
}
p {
  color: #f2f2f2;
  margin-left: 10px;
}
.more {
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: 110px;
  border: none;
  cursor: pointer;
}
.actions {
  display: flex;
  justify-content: space-between;
  width: 310px;
  height: 20px;
}
.header1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #16181f;
}
.header1 ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.header1 li {
  display: inline;
  justify-content: space-between;
  width: 60px;
}
Aimg:hover {
  cursor: pointer;
}
