@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
  font-family: "Kenit"; /* Choose a name for your font */
  src: url("../fonts/Kanit-Regular.ttf") format("truetype"); /* Specify the path and format */
  /* Optional properties: */
  font-weight: normal; /* Define the weight of this font */
  font-style: normal; /* Define the style of this font */
  font-display: swap; /* How the font is displayed while loading */
}
@font-face {
  font-family: "Kenit"; /* Choose a name for your font */
  src: url("../fonts/Kanit-Bold.ttf") format("truetype"); /* Specify the path and format */
  /* Optional properties: */
  font-weight: bold; /* Define the weight of this font */
  font-style: normal; /* Define the style of this font */
  font-display: swap; /* How the font is displayed while loading */
}
@font-face {
  font-family: "Kenit"; /* Choose a name for your font */
  src: url("../fonts/Kanit-Light.ttf") format("truetype"); /* Specify the path and format */
  /* Optional properties: */
  font-weight: 200; /* Define the weight of this font */
  font-style: normal; /* Define the style of this font */
  font-display: swap; /* How the font is displayed while loading */
}

.lexend-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.lexend-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.lexend-light {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.flex {
  display: flex;
}

.jb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

:root {
  --forecolor: #101115;
  --bg-1: #ffffff;
  --bg-2: #F2F2F2;
  --bg-3: #E6E6E6;
  --primary: #0004ff;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

body.dark {
  --forecolor: #EBEBEB;
  --bg-1: #101115;
  --bg-2: #1A1C23;
  --bg-3: #252831;
}

